<div class="container main" style="padding-top: 0px;">
  <div class="row">
      <% include banner.ejs %>
      <% include about.ejs %>
      <% include works.ejs %>
      <% include skills.ejs %>
  </div>
</div>
