<div class="row page-section">
  <div class="col-xs-12 col-md-12 col-lg-12">
    <div id="works">
      <h2>Works</h2>

      <div class="container">
        <div class="companyLogo"><img src="images/cc-logo.png" /></div>
        <h3><%- companyName %></h3>
        <p><%- myWorks %></p>
        <div class="gallery container" style="padding: 0px 0px;">
          <% include works_gallery.ejs %>
        </div>
      </div>
    </div>
  </div>
</div>
