    <footer>
      <div class="container ">
        <div class="row">
	        <div class="col-xs-12 col-md-12 col-lg-12">
	          <p style="float: left;">&copy; 2016 Tamilla Bunyadova. All rights reserved</p>
	          <div class="social-link">
	          	<a class="social" href="mailto:tbunyadova@gmail.com"><span class="fa fa-envelope" style="color: #fff;"></span></a>
	          	<a class="social" href="https://ca.linkedin.com/in/tamilla-bunyadova-57348b132"><span style="color: #fff;" class="fa fa-linkedin"></span></a>
	          </div>
	        </div>
      	</div>
    </footer>
