<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/template/header.ejs %>
  </head>
  <body>
    <% include partials/template/navigation.ejs %>

    <% include partials/content/main_content.ejs %>

    <% include partials/template/footer.ejs %>

    <% include partials/template/jsdefaults.ejs %>

</body>

</html>
